.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containers {
  display: flex;
  flex-direction: row;
}
.code-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 600px;
  margin: 10px;
}

.text-area-code-editor {
  &,
  &:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
  }
}

.text-area-code-editor,
.pre,
.code {
  tab-size: 4;
  margin: 0;
  padding: 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  line-height: 1.5;
}

.pre {
  height: 100%;
  min-height: inherit;
  z-index: 1;
  overflow: auto;
  padding: 15px 0 0 70px;

  .code {
    min-height: inherit;
    overflow: hidden;
    height: 100%;
  }
}

.text-area-code-editor {
  caret-color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  display: block;
  resize: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: transparent;
  background: transparent;
  padding: 15px 0 0 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
   height: 100%;
          width: 100%;
          color: rgb(254, 254, 254);
}

.copy-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -40px;
  z-index: 10000;
  position: static;
  margin-right: 1px;
}
